<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.906807074868-oi5rn3r6tq6urb4mcln6rp8cn0uuu9vi</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>906807074868-oi5rn3r6tq6urb4mcln6rp8cn0uuu9vi.apps.googleusercontent.com</string>
</dict>
</plist>
